@using Microsoft.AspNetCore.Identity
@using Projeto22025.Models // <-- Use 'Usuario' ou 'ApplicationUser'
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <!-- MUDANÇA: Botão de Sair destacado -->
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-outline-danger btn-sm-custom">Sair <i class="bi bi-box-arrow-right"></i></button>
            </form>
        </li>
}
else
{
        <!-- MUDANÇA: Botões de Registrar e Logar destacados -->
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light btn-sm-custom me-2" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-success btn-sm-custom" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
}
</ul>