@model Projeto22025.Models.Movimentacao

@{
    ViewData["Title"] = "Registrar Saída";
}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="card-header">
                <h4 class="mb-0">Registrar Saída de Material</h4>
            </div>
            <div class="card-body">
                <form asp-action="RegistrarSaida">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="ProdutoId" class="control-label"></label>
                        <select id="select-produto" asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId" placeholder="Selecione um produto...">
                            <option value="">-- Selecione um Produto --</option>
                        </select>
                        <span asp-validation-for="ProdutoId" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="SetorId" class="control-label"></label>
                        <select asp-for="SetorId" class="form-control" asp-items="ViewBag.SetorId">
                            <option value="">-- Selecione um Setor --</option>
                        </select>
                        <span asp-validation-for="SetorId" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" type="number" min="1" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" class="form-control" type="date" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Registrar Saída" class="btn btn-primary" />
                        <a asp-controller="Produtos" asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            new TomSelect('#select-produto',{
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                }
            });
        });
    </script>
}